################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ElasBlazorMVVM/v16
/ElasBlazorMVVM/obj
/ElasBlazorMVVM.Abstractions/bin/Debug/netstandard2.0
/ElasBlazorMVVM.Abstractions/obj
